.footer {
    height: 150px ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.footer span {
    font-weight: bold;
    color:light rgb(106, 106, 210);
}